/* headings */
h3 {
    color: rgb(44,123,182);
  }

p {
  color: rgb(0,0,0);
  font-size: medium;
}

i {
  color: rgb(0,0,0);
  font-size: small;
}

/*Table width and font size*/
table{
  table-layout: fixed;
  width: 100%;
  font-size: small;
}

/* change the with of first column */
/* thead tr th:first-child,
tbody tr td:first-child {
  width: 400px;
  min-width: 300px;
  max-width: 400px;
  word-break: break-all;
} */
